.table {
	width: 100%;
	border-collapse: collapse;
	border-radius: var(--border-radius);
	overflow: hidden;
	text-align: left;
	&__row {

	}
	&__cell {
		padding: 10px var(--spaces);
		background: var(--color-white);
		border: 1px solid var(--color-elements);
		&_header {
			border: none;
			background: var(--color-darkblue);
			color: var(--color-white);
			font-size: 16px;
			font-weight: 300;
		}
	}
}

@media (max-width: 560px) {
	.table {
		&__cell {
			padding: 5px;
		}
	}
}