:root {
  --color-background: #e5e8ed;
  --color-white: #fff;
  --color-elements: #c8ccd4;
  --color-lightblue: #1493fe;
  --color-darkblue: #0a508c;
  --color-mainFont: #4f5b65;
  --color-red: #b02337;
  --font-size-normal: 12px;
  --font-size-big: 14px;
  --spaces: 16px;
  --border-radius: 3px;
  --speed-animation: 0.2s;
}